.kakek{
    width: 400px;
    height: 400px;
    background-color: black ; 
    display: flex;
    flex-direction: column;
}

.bapak1,
.bapak2,
.bapak3{
    width: 100%;
    display: flex;
    height: 100%;
}

.anak1,
.anak2,
.anak3,
.anak4{ 
    width: 100%;
    height: 100%;
    border: white solid 1px;
}

.anak1,
.anak2{
    background-color: blue;
}

.anak3,
.anak4
{
    background-color: red;
}
