.flag{
    width:400px;
    height:250px;
    background-color: rgb(255, 255, 255);
    display: flex;
    border: 1px solid;
    flex-direction: column;
}

.putih{
    background-color:rgb(255, 255, 255);
    height: 50%;
    width: 100%;
}
.bulat{
    background-color: rgb(255, 0, 0);
    height: 100px;
    width: 100px;
    border: 1px solid;
    position: absolute;
    left:150 ;
    top: 90;
    border-radius: 100px;
}